<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Sample Servlet</display-name>
	<description>Sample Servlet</description>

    <!-- Define servlets that are included in this application -->
    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>jp.dragon.field.SampleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>
</web-app>
