<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
	<display-name>Sample Servlet</display-name>
	<description>Sample Servlet</description>

	<context-param>
	     <param-name>contextConfigLocation</param-name>
	     <param-value>/WEB-INF/beans2.xml</param-value>
	</context-param>

	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <!-- Define servlets that are included in this application -->
    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>jp.dragon.field.SampleServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>
</web-app>
