<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
  <property name="triggers">
    <list>
      <ref bean="masterDataReloadTrigger" />
    </list>
  </property>
</bean>

<bean id="masterDataReloadTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  <property name="jobDetail" ref="masterDataReloadJob" />
  <property name="cronExpression" value="*/5 * * * * ?" />
</bean>

<bean id="masterDataReloadJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  <property name="targetObject" ref="mappingDataService" />
  <property name="targetMethod" value="sayHello"  />
</bean>

<bean id="mappingDataService" class="jp.dragon.field.MyService"/>
</beans>